# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/
*.pyc

# Node
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# General
.DS_Store
*.log