# MongoDB connection string
MONGO_URI="mongodb+srv://anwitapadhi_db_user:Anwita281104@cluster0.jk2s71i.mongodb.net/?appName=Cluster0"


# NVD API key for CVE enrichment
NVD_API_KEY=f7b18dd9-aea5-4411-9079-fb67a1defb45