*{
    box-sizing: border-box;
}
body{
    font-family:"Space Grotesk";
}
#parent-container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blackgrey);
    justify-content: center;
}
.container{
    border-radius:20px;
    width:400px;
    max-width: 400px;
    max-height:400px;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease;
    padding-top:50px;
}
.container:hover{
    box-shadow: 0 0 10px rgba(68, 229, 231, 0.15);
}
.loginbutton{
    border-radius: 10px;
    padding:10px;
    text-align:center;
    background-color: var(--teal);
    border:none;
    font-family:"Roboto Flex";
    min-width:200px;
    transition: 0.3s ease-in-out;
}

.loginbutton:hover{
    scale:1.005;
    transition: background-color 0.7s ease;
}

.loginbutton:active{
    background-color: var(--textlight);
    scale:1.009;
    transition:0.1s ease;
}
img{
    margin-top:0px;
    height:40px;
    margin-bottom:1em;
}
